<div class="preview flex flex-col gap-5 lg:flex-row px-12 pt-11 mt-20 mb-32"  id="hero">
    <div class="flex-1  text-center lg:text-left">
        <div class="title text-5xl font-semibold text-blue-900 leading-tight font-sans  text-center lg:text-left">
            Преимущества <br> сервиса <app-logo></app-logo>
        </div>
        <div class="text-slate-800 text-2xl text-center lg:text-left">
            Облачная программа для автоматизации бизнеса является мощным инструментом, 
            который помогает компаниям оптимизировать свои бизнес-процессы, повысить эффективность 
            работы и достичь конкурентных преимуществ на рынке.
        </div>
        <button class="bg-blue-600 text-white font-semibold py-3 px-10 rounded mt-5 text-xl shadow-2xl">
            Демо версия 
        </button>
    </div>
    <div class="flex-1 flex justify-center">
        <img src="images/hero-img.png" alt="">
    </div>
</div>