<div class="soc my-24" id="contact">
    <h1 class="text-blue-900 text-4xl font-bold mb-16 text-center"> Связаться с нами </h1>
    <div class="flex lg:gap-32 gap-20 items-center justify-center">
        <a href="https://www.youtube.com/">
            <img src="images\free-icon-youtube-1384060.png" alt="" class="w-24">
        </a>
        <a href="https://www.facebook.com/">
            <img src="images\free-icon-social-16021217.png" alt="" class="w-20">
        </a>
        <a href="https://www.instagram.com/">
            <img src="images\free-icon-instagram-1384063.png" alt="" class="w-20">
        </a>
        <a href="https://telegram.org/">
            <img src="images\telegram.png" alt="" class="w-20">
        </a>
        
    </div>
</div>