<div class="plan" id="pricing">
    <h1 class="text-blue-900 text-4xl font-bold mb-10 text-center">
        Тарифы для вашего бизнеса
    </h1>
    <div class="lg:flex grid grid-cols-2 justify-between gap-6">
        <div class="plan shadow-xl flex flex-col items-center gap-8 w-[100%] p-7 py-8 hover:scale-110 duration-500">
            <p class="font-bold text-cyan-400 text-xl">Старт</p>
            <p class="price text-gray-600">
                <span class="text-3xl font-medium"><sup>TJS </sup></span>
                <span class="text-4xl font-bold">59</span>
                <span class="text-gray-400">/месяц</span>
            </p>
            <img src="images/pricing-free.png" alt="" class=" w-40">
            <ul class="flex flex-col items-center gap-2 text-lg text-gray-700">
                <li>Пользователь: 1</li>
                <li>Точка продаж: 1</li>
                <li class="line-through text-gray-300">Интернет магазин</li>
                <li class="line-through text-gray-300">Производство</li>
                <li class="line-through text-gray-300">Услуги</li>
                <li class="line-through text-gray-300 text-center">Дополнительные опции</li>
            </ul>
            <button class="bg-white hover:bg-blue-600 hover:text-white text-blue-600 border-[1px] border-solid border-blue-600 font-semibold py-2 px-10 rounded-full">
                Подключить 
            </button>
        </div>
        <div class="plan shadow-xl flex flex-col items-center gap-8 w-[100%] p-7 py-8 hover:scale-110 duration-500">
            <p class="font-bold text-green-400 text-xl">Стандарт</p>
            <p class="price text-gray-600">
                <span class="text-3xl font-medium"><sup>TJS </sup></span>
                <span class="text-4xl font-bold">159</span>
                <span class="text-gray-400">/месяц</span>
            </p>
            <img src="images/pricing-starter.png" alt="" class=" w-40">
            <ul class="flex flex-col items-center gap-2 text-lg text-gray-700">
                <li>Пользователь: 5</li>
                <li>Точка продаж: 1</li>
                <li class="line-through text-gray-300">Интернет магазин</li>
                <li class="line-through text-gray-300">Производство</li>
                <li class="line-through text-gray-300">Услуги</li>
                <li class="text-center">Дополнительные опции</li>
            </ul>
            <button class="bg-white hover:bg-blue-600 hover:text-white text-blue-600 border-[1px] border-solid border-blue-600 font-semibold py-2 px-10 rounded-full">
                Подключить 
            </button>
        </div>
        <div class="plan shadow-xl flex flex-col items-center gap-8 w-[100%] p-7 py-8 hover:scale-110 duration-500">
            <p class="font-bold text-orange-400 text-xl">Бизнес</p>
            <p class="price text-gray-600">
                <span class="text-3xl font-medium"><sup>TJS </sup></span>
                <span class="text-4xl font-bold">299</span>
                <span class="text-gray-400">/месяц</span>
            </p>
            <img src="images/pricing-business.png" alt="" class=" w-40">
            <ul class="flex flex-col items-center gap-2 text-lg text-gray-700">
                <li>Пользователь: 15</li>
                <li>Точка продаж: 2</li>
                <li class="line-through text-gray-300">Интернет магазин</li>
                <li class="line-through text-gray-300">Производство</li>
                <li class="line-through text-gray-300">Услуги</li>
                <li class="text-center">Дополнительные опции</li>
            </ul>
            <button class="bg-white hover:bg-blue-600 hover:text-white text-blue-600 border-[1px] border-solid border-blue-600 font-semibold py-2 px-10 rounded-full">
                Подключить 
            </button>
        </div>
        <div class="plan shadow-xl flex flex-col items-center gap-8 w-[100%] p-7 py-8 hover:scale-110 duration-500">
            <p class="font-bold text-pink-500 text-xl">Максимум</p>
            <p class="price text-gray-600">
                <span class="text-3xl font-medium"><sup>TJS </sup></span>
                <span class="text-4xl font-bold">889</span>
                <span class="text-gray-400">/месяц</span>
            </p>
            <img src="images/pricing-ultimate.png" alt="" class=" w-40">
            <ul class="flex flex-col items-center gap-2 text-lg text-gray-700">
                <li>Пользователь: 30</li>
                <li>Точка продаж: 6</li>
                <li>Интернет магазин: 1</li>
                <li>Производство: 1</li>
                <li>Услуги: 1</li>
                <li class="text-center">Дополнительные опции</li>
            </ul>
            <button class="bg-white hover:bg-blue-600 hover:text-white text-blue-600 border-[1px] border-solid border-blue-600 font-semibold py-2 px-10 rounded-full">
                Подключить 
            </button>
        </div>
        
    </div>
</div>
