<app-header-section id="up"></app-header-section>
<div class="main w-[100%] max-w-7xl m-auto px-16 lg:px-10">
  <app-preview-section ></app-preview-section>
  <app-opportunity-section id="oppo"></app-opportunity-section>
  <app-fitures-2></app-fitures-2>
  <app-services-section id="services"></app-services-section>
  <app-value-section></app-value-section>
  <app-statistic-section></app-statistic-section>
  <app-plans-section id="plans"></app-plans-section>
  <app-sale-section></app-sale-section>
  <app-option-section></app-option-section>
  <app-faq-section></app-faq-section>
  <app-soc-section></app-soc-section>
</div>
<app-subscription-section></app-subscription-section>
<app-footer-section></app-footer-section>
<div class="fixed right-5 bottom-5">
  <a href="#up" class="bg-blue-700 hover:bg-blue-500 text-white font-semibold p-3 px-4 rounded">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</div>
